

select {

  /* make arrow and background */

  background: linear-gradient(to right, grey, grey);
  background-position:
    calc(100% - 21px) calc(1em + 2px),
    calc(100% - 16px) calc(1em + 2px),
    100% 0;
  background-size:
    20px 20px,
    20px 20px,
    2.5em 2.5em;
  background-repeat: no-repeat;

  /* styling and reset */

  border: 2px solid grey;
  font-family:Arial;
  font-size:14px;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;
  outline: 0;

  /* reset */

  border-radius: 4;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
}
